{%load staticfiles%}<html>

<head>
<title>GROW</title>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">

      <!--Import materialize.css-->

      <link type="text/css" rel="stylesheet" href="{% static 'xodia/css/materialize.min.css' %}" media="screen,projection">

      <link rel="stylesheet" type="text/css" href="{% static 'xodia/css/sweet-alert.css' %}">

      <style type="text/css">

      .top{

        width: 100%;

        height:20%;

        position:relative;

      }



      .card_overlay{

      

        padding-top:2%;

        width: 100%;

      }

      .back{

        position: absolute;

        top:78%;

        right:3%;

      }

      html

      {

        overflow-y: hidden; 

      }

      </style>

    

    </head>

    <body>

      <div class="hide-on-large-only"><h2>PLEASE VIEW IN DESKTOP MODE</h2></div>

<div class="hide-on-med-and-down">

    

    <div class="top teal darken-3 ">

      <div class=" card_overlay">

      <div class="row">

        <div class="col offset-m1 offset-l1 m10 l10">

         <div class="card-panel row blue-grey lighten-5">         



              <div class="col m7 l7 s12 "><canvas id="myCanvas" width="546" height="546" align="center" onclick="savecoord(event)"></canvas>

              </div>

              <div class="col m2 l2">

          <h5>Input</h5>

           <input id="xo1" type="text">

          <br>

          <button class="waves-effect waves-light btn"  onclick="inputbutton()">Grow</button><br>

          </div>

              <div class="col m3 l3 s12  ">

                <h4>SCORE</h4>

                <h5 style="color: red;" id="p1" >Radiant : 0</h5>

                <h5 style="color: #03A9F4;" id="p2">Dire : 0</h5>

                <br>                

            </div>

            <div class = "col m1 l5 s16 ">
                
          <ul class="collection with-header">
        <li class="collection-header"><h5>How to Play</h5></li>
        <li class="collection-item">To pass input use the text box(refer docs for format) or click on the desired points</li>
        <li class="collection-item">For the <b>first move</b>, Select the Root and one leaf(in the first column for p1 and last column for p2). For <b>subsequent moves</b> select one leaf and 2 positions.</li>
        <li class="collection-item">Underlined name indicates turn.</li> 
        <li class="collection-item">Colour convention for <b>nodes,leaves</b>:
        <br>Player 1: <b>Red,Green</b> Player 2: <b>Blue,Yellow</b>. Frozen leaves will be <b>Pink</b> and <b>Cyan</b> respectively.</li>
        <li class="collection-item">To understand the game rules download the docs <a href="{% static 'xodia/pdf/Grow_Documentation.pdf' %}">here</a></li>
      </ul>      



            </div>               

          </div>

          </div>

        </div>

           </div>

    



      <!--Import jQuery before materialize.js-->

      

      <script type="text/javascript" src="{% static 'xodia/js/jquery-2.1.3.min.js'%}"></script>

      <script type="text/javascript" src="{% static 'xodia/js/materialize.min.js'%}"></script>

      <script type ="text/javascript" src="{% static 'xodia/js/sweet-alert.min.js'%}"></script>



       <script type="text/javascript" src=" {% static 'xodia/js/getmousestuff.js'%}"></script>

       <script type="text/javascript" src="{% static 'xodia/js/jscode2.js'%}"></script>

       <script>



       document.getElementById("p1").style.textDecoration = "underline";

var c = document.getElementById("myCanvas");

var ctx = c.getContext("2d");

var k=0;

var l=0;



for(j = 0 ; j < 10 ; j++){

    k=0;

     for (i = 0; i < 10; i++) {

         

        ctx.fillStyle = "#3f3f3b";

        ctx.fillRect(k,l,6,6);

        ctx.fill();

       

        k=k+60;

    }

    l=l+60;

}

$(document).keypress(function(e) {
  if(e.which == 13) {
    // enter pressed
  inputbutton();
  }
});

 </script>

  </div>

  

        <div style="width: 713px;" class="hiddendiv common"></div>
        </body>
        </html>





        
