{% extends 'xodia/index.html' %}

{% load staticfiles %}


{% block navbar %}
<ul id="nav-mobile1" class="right hide-on-med-and-down" style="position:fixed;z-index:5;left:75%;">
        <li><img src="{% static dppath %}" style="width:30px;position:relative;top:10px;" class="responsive-img circle" />&nbsp{{user.first_name}}</li>
        <li>
          <a class='dropdown-button' href='#' data-activates='dropdown1'><i style="font-size:85%" class="fa fa-chevron-down"></i></a>

                 <ul id='dropdown1' class='dropdown-content'>
              <li><a href="{% url 'xodia:logout' %}">Logout</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'xodia:testpage' %}">Testing</a></li>

            </ul></li>
</ul>
{% endblock navbar %}

{% block sidebar %}

<li><img src="{% static dppath %}" style="width:30px;position:relative;top:10px;" class="responsive-img circle" /> </li>
<li>&nbsp{{user.first_name}}</li>

{% endblock sidebar %}

{% block logout %}
<li><a style="color:white;" href="{% url 'xodia:logout' %}"> Logout </a></li>

{%endblock logout %}