{% load staticfiles %}

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>XOdia</title>

  <!-- CSS  -->  <link href="{% static 'xodia/css/style.css' %}" rel="stylesheet"media="screen,projection">
  <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="{% static 'xodia/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'xodia/css/sweetalert2.css' %}">

 
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'xodia/images/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'xodia/images/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'xodia/images/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'xodia/images/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'xodia/images/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'xodia/images/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'xodia/images/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'xodia/images/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'xodia/images/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'xodia/images/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'xodia/images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'xodia/images/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'xodia/images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'xodia/json/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'xodia/images/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">
  <style type="text/css" media="screen">
    p{
      color: white;
    }
  </style>

</head>
<body style="font-family: 'Lato',sans-serif;background-color:#424242;overflow-x:hidden;" id="body">
  <nav style="background:transparent;" role="navigation" >
    <div class="nav-wrapper container center" >
      <a class="center" target="blank"  href="http://credenz.info" class="xologo"><img src="{% static 'xodia/images/x.png' %}" style="width:150px;padding-top:1%;"></a>
      <!-- <ul class="right hide-on-med-and-up">
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#contact" class="page-scroll">Contact us</a></li>
        <li><a href="http://xodia.pythonanywhere.com/xodia/" target="blank">Previous game</a></li>
      </ul> -->
         <a id="bulb" target="blank" href="http://credenz.info" class="brand-logo hide-on-med-and-down"><img src="{% static 'xodia/images/logobrand.png' %}" style="width:140px;height:80px;position:fixed;left:0;padding:8px;top:-1%;"></a>
        <a target="blank" href="http://pictieee.in" class="hide-on-med-and-down"><img style="width:165px;padding:10px;height:70px;position:fixed;right:0;" src="{% static 'xodia/images/logopisb.png' %}"></a> 
      
      
    </div>
  </nav>

    <h5 style="color:white;position:relative;left:45%;padding-top:1%;" class="hide-on-small-only">REGISTER</h5>
        <h5 style="color:white;position:relative;left:35%;padding-top:1%;" class="hide-on-med-and-up">REGISTER</h5>
  <div class="row" style="padding-top:5%;">
 
  <div class="col l8 offset-l2 s12 m12" >
    <div class="row">

      <form class="col s12" name="form1" action="{% url 'xodia:signup' %}" method="post" enctype="multipart/form-data" onsubmit=" return alphanumeric(form1.uname.value)">
      {% csrf_token %}
        <div class="input-field col l6 m6 s6">
          <input id="fname" name="fname" type="text" class="validate">
          <label for="first_name">First Name (required)</label>
        </div>

        <div class="input-field col l6 m6 s6">
          <input id="lname" name="lname" type="text" class="validate">
          <label for="last_name">Last Name  (required)</label>
        </div>

        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate">
          <label for="email" data-error="wrong" data-success="right">Email (required)</label>
        </div>

        <div class="input-field col s12">
          <input id="mobno" name="mobno" type="text" class="validate">
          <label for="mobno" >Mobile Number  (required)</label>
        </div>


        <div class="input-field col s12">
          <input id="uname" name="uname" type="text" class="validate">  
          <label for="uname">Username  (should not contain any special characters or there would be problems in code submissions)</label>
        </div>
          

		<div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate">
          <label for="password" >Password (required)</label>
        </div>

        <div class="input-field col s12">
          <input id="cpassword" name="cpassword" type="password" class="validate">
          <label for="cpassword" >Confirm Password (required)</label>
        </div>
        
        <div class="file-field input-field col s12">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span style="font-size:70%;font-style:bold;">Photo</span>
            
            <input type="file" name="dp" id="dp" name="dp" />
            
          </div>
        </div>
        <div class="col l1 offset-l5 s6 m6">
        <input type="submit" value = "Signup" class="btn" \>
        </div>
 	    </form>  
 	    {% csrf_token %}
		
      </div>
  </div>
</div>
<script src="{% static 'xodia/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'xodia/js/materialize.min.js' %}"></script>
  <script src="{% static 'xodia/js/init.js' %}"></script>
<script src="{% static 'xodia/js/sweetalert2.min.js' %}"></script>
{% block already%}
{% endblock already %} 
<script type="text/javascript">
$(document).ready(function() {

  var editor = ace.edit("editor");
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setMode("ace/mode/c_cpp");
      editor.setValue("#include<stdio.h>\nint main()\n{ int i,j,k;\n  char s[3600];\n  scanf(\"%s\",s);\n  char array[20][20][9];\n  for(i=0;i<20;i++)\n    for(j=0;j<20;j++)\n      for(k=0;k<9;k++)\n        array[i][j][k]=s[i*9*20+j*9+k];\n  \n/*\nScan whether \n1. Grid is empty\n2. There is a move played by opponent\nin order to play the first move\nNote: Your code is always given the grid values according to player1.\n  Your code should output just one move and then exit.\n*/\n\n//For Instance:-\n\nfor(i=0;i<20;i++)\n{\n  for(j=0;j<20;j++)\n  {\n\n    int flag=0;\n    if(array[i][j][0]!='0' && array[i][j][0]!='2' && array[i][j][0]!='4')\n      {\n      //play first move\n      printf(\"%d,%d,%d,%d,\",i1,j1,i2,j2);\n        }\n          }\n            }\n\n      \n//Your code logic starts here\n\n//for Subsequent  moves\n  printf(\"%d,%d,%d,%d,%d,%d\",i1,j1,i2,j2,i3,j3);\n  //where (i1,j1) (i2,j2) (i3,j3) are coordinates of the seed and leaves\n\n\n}\n\n\n");

   $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin:true // Displays dropdown below the button
    }
  );
   $(document).ready(function() {
    $('select').material_select();
  });

       

});
</script>

<script type="text/javascript">
function alphanumeric(alphane)
{
	var numaric = alphane;
	for(var j=0; j<numaric.length; j++)
	{
		var alphaa = numaric.charAt(j);
		var hh = alphaa.charCodeAt(0);	
		if(! ( (hh > 47 && hh < 58) || (hh > 64 && hh<91) || (hh > 96 && hh<123) ))
		{
			swal("Please enter alphanumeric username","","warning");
			return false;
		}
	}
	if (document.getElementById('uname').value.charAt(0).charCodeAt(0) >= 48 && document.getElementById('uname').value.charAt(0).charCodeAt(0) <= 57)
	{
		swal("Username should not start with a number","","warning");
		return false;
	}
	if ((document.getElementById('fname').value == "") || (document.getElementById('lname').value == "") || (document.getElementById('uname').value == "") || (document.getElementById('email').value == "") || (document.getElementById('mobno').value == "") || (document.getElementById('password').value == ""))
	{
		swal("Please fill all the fields","","warning");
		return false;
	}

	if (document.getElementById('password').value != document.getElementById('cpassword').value)
	{
		swal("Passwords did not match ","","warning");
		return false;
	}
	
	return true;

}
</script>
</body>