{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
</head>
<body>

</body>
</html>
<html>

<head>

<meta http-equiv="content-type" content="text/html; charset=windows-1252">

      <!--Import materialize.css-->

      <link type="text/css" rel="stylesheet" href="{% static 'xodia/css/materialize.min.css' %}" media="screen,projection">

      <link rel="stylesheet" type="text/css" href="{% static 'xodia/css/sweet-alert.css' %}">

      <style type="text/css">

      .top{

        width: 100%;

        height:20%;

        position:relative;

      }



      .card_overlay{

      

        padding-top:2%;

        width: 100%;

      }

      .back{

        position: absolute;

        top:78%;

        right:3%;

      }

      html

      {

      	overflow-y: hidden; 

      }

      </style>

    

    </head>

    <body>


      <div class="hide-on-large-only"><h2>PLEASE VIEW IN DESKTOP MODE</h2></div>

<div class="hide-on-med-and-down">
              

    <div class="top teal darken-3 ">

      <div class=" card_overlay">

      <div class="row">
      <a href="{% url 'xodia:testpage'%}" class="btn-floating red" style="position:absolute;left:90%;top:90%;"><i class="fa fa-chevron-left"></i></a>
        <div class="col offset-m1 offset-l1 m10 l10">

         <div class="card-panel row blue-grey lighten-5">        
<div class="col m2 l2">

                              <h4>SCORE</h4>

                <h5 style="color: red;" id="p1" >{{user1}} : 0</h5>

                <h5 style="color: #03A9F4;" id="p2">{{user2}} : 0</h5>

                <br>                

            </div>



              <div class="col m7 l7 s12 "><canvas id="myCanvas" width="576" height="576" align="center" ></canvas>

              </div>
              <div class="col m3 l3">




        
           <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
          <button class="waves-effect waves-light btn " value=" Start" onclick="start()">Start Match</button>
          <button class="waves-effect waves-light btn " value="Playpause" onclick="playpause()">Play/pause</button>
          <!-- <div class = "col m8 l8"> -->
          <label>Game Speed</label><br><label for="speed">FAST--------------MEDIUM---------------SLOW</label>  
          <input type="range" id="slider" onclick="speedChange()" name="GameSpeed" min="50" max="2000" required />
          <!-- </div> -->
          
          <button class="waves-effect waves-light btn " value="previous" onclick="previous()">Prev</button>
          <button class="waves-effect waves-light btn " value="Next" onclick="next()">Next</button>
          
          <h5>LOG</h5>
          <textarea id="logdisplay" readonly="readonly" class="materialize-textarea"></textarea>
          <p>'m' indicates move<br>'i' indicates invalid<br>'w' indicates win<br>'t' indicates termination</p>
          </div>
            
          </div>




          </div>

        </div>

           </div>

          <div id = "log" style = "display:none;">{{log}}</div>
    



      <!--Import jQuery before materialize.js-->

      

      <script type="text/javascript" src="{% static 'xodia/js/jquery-2.1.3.min.js' %}"></script>

      <script type="text/javascript" src="{% static 'xodia/js/materialize.min.js' %}"></script>

      <script type ="text/javascript" src="{% static 'xodia/js/sweet-alert.min.js' %}"></script>
            {% block nogame %} {% endblock nogame %}
        
       <script>
       var sc1=0,sc2=0;
       var logg="";
function writelog(){

}

function updatescore(score1,score2){

document.getElementById('p1').innerHTML = "{{user1}}  : "+score1;

document.getElementById('p2').innerHTML = "{{user2}} : "+score2;

}


function loggenrator(move){     
      document.getElementById("logdisplay").value=move;
      document.getElementById("logdisplay").scrollTop = document.getElementById("log").scrollHeight;
}



var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
var k=0;
var interval;
var l=0;
var ppflag=0;
var sflag=0;
var iterator = 0;
var speed = 500;
var prevflag = 0;
var logfile = document.getElementById("log").textContent;
    var moves = logfile.split(" ");
    var err,flag=0;
    //document.getElementById("splits").innerHTML = res
   for (var i =0; i < moves.length; i++) {
      console.log(moves[i]);
   }
   i=0;
  // var temp;

function drawbox(){

    for(j = 0 ; j < 20 ; j++){
    k=0;
             for (i = 0; i < 20; i++) {
                 
                ctx.fillStyle = "#3f3f3b";
                ctx.fillRect(k,l,6,6);
                ctx.fill();
               
                k=k+30;
            }
            l=l+30;
    }

}
function next()
{
    if(sflag==1)
    {
            clearInterval(interval);
            ppflag=1;
            if(iterator<moves.length && flag==0)
            {
                thisistherealshit(moves);
                console.log(iterator,"this is an iterator");
                iterator++;

            }
            else
            {
                alert("Next move Not Available");
            }
    }
    else
    {
        toast("First Start The Game",2000);
    }
}
function previous()
{
        
    if(sflag==1)
    {
            clearInterval(interval);
            ppflag=1;
            while(iterator>=moves.length-1)
                iterator--;
            if(iterator!=0)
            {

                     iterator--;
                
                prevflag=1;
                if(iterator<moves.length)
                {
                    flag=0;
                    if(iterator<moves.length && flag==0){
                        thisistherealshit(moves);
                        console.log(iterator,"this is an iterator");
                         iterator++;
                     }

                }

                    prevflag=0;
                    iterator--;
            }
    }
    else
    {
        toast("First Start The Game",2000);
    }

}
function speedChange()
{
    if(sflag==1)
    {
         clearInterval(interval);
         speed = document.getElementById("slider").value;
         interval=setInterval(playgame,speed);
         ppflag=0;
    }
    else
    {
        toast("First Start The Game",2000);
    }
}


function drawline(y1,x1,y2,x2,player){
    
                             ctx.beginPath();
                             ctx.strokeStyle="red";
                if(parseInt(player)==2){
                                ctx.strokeStyle="blue";
                             }
                             if(prevflag==1){
                                ctx.strokeStyle="white";
                                ctx.linewidth="1.5";
                             }
                             ctx.moveTo(x1*30+3,y1*30+3);
                             ctx.lineTo(x2*30+3,y2*30+3);
                             ctx.stroke();
                             if(prevflag==1)
                             {
                                ctx.fillStyle = "#3f3f3b";
                                ctx.fillRect(x1*30,y1*30,6,6);
                                 ctx.fillRect(x2*30,y2*30,6,6);
                                ctx.fill();                 
                             }
}
function playpause()
{
    if(ppflag==0&&sflag==1)
    {
        clearInterval(interval);
        ppflag=1;
    }
    else if(ppflag==1&&sflag==1)
    {
        interval=setInterval(playgame,speed);
        ppflag=0;
    }
    else
    {
        //alert("Start The Game First");
        toast("First Start The Game",2000);
    }

}

function thisistherealshit(moves){
    
    var splitmove = moves[iterator].split(".");
    var movetype = splitmove[0];
    var playerno = splitmove[1];
    var i1 = splitmove[2];
    var j1 = splitmove[3];
    var i2 = splitmove[4];
    var j2 = splitmove[5];

    if(movetype=='m'){
        var i3 = splitmove[6];
        var j3 = splitmove[7];
        var score1 = splitmove[8];
        var score2 = splitmove[9];

        if(i3!='#'){
           drawline(i1,j1,i2,j2,playerno);           
           drawline(i1,j1,i3,j3,playerno); 
        }
        else{
            drawline(i1,j1,i2,j2,playerno);
        }
        sc1=score1;
        sc2=score2;
        logg=movetype+"."+playerno+"."+i1+"."+j1+"."+i2+"."+j2+"."+i3+"."+j3;
    }

    else if(movetype=='t'){
        var score1 = splitmove[6];        
        var score2 = splitmove[7];
        sc1=score1;
        sc2=score2;
        logg=movetype+"."+playerno+"."+i1+"."+j1+"."+i2+"."+j2;
    }
    else if(movetype=='i'){
        var winner = splitmove[1];
        var error = splitmove[2];
        switch(error)
          {
            case '1':
            swal("Your Bot is consuming more resources than specified","","error");
            break;
            case '2':
            swal("Runtime Error","","error");
            break;
            case '3':
            swal("Output is in illegeal format","","error");
            break;
            case '4':
            swal("Seed was not placed on ground","","error");
            break;          
            case '5':
            swal("Your tree is growing out of range","","error");
            break;
            case '6':
            swal("Your tree didnt grow in adjacent place","","error");
            break;
            case '7':
            swal("Your move is not from active leaf","","error");
            break;
            case '8':
            swal("Your branch is overlapping another branch","","error");
            break;
          }
          
        //end the loop
    }
    else if(movetype == 'w'){
        var winner = splitmove[1];
        var a = "{{user1|escapejs}}"; 
        var b = "{{user2|escapejs}}";       
        console.log(winner,"gg");
        switch(winner)
        {
            case '1':
            swal("Winner is "+a,"","success");
            break;
            case '2':
            swal("Winner is "+b,"","success");
            break;
            case '0':
            swal("Match Drawn","");
            break;
        }
        flag=1;
    }
    if(prevflag==1)
    {
      if(iterator!=0)
      {
        var hide=moves[iterator-1].split(".");
        if(hide[0]=='m')
        {
          sc1=hide[8];
          sc2=hide[9];
        }
        if(hide[0]=='t')
        {
          sc1=hide[6];
          sc2=hide[7];
        }
      }
      else
      {
        sc1=0;
        sc2=0;
      }
    }
updatescore(sc1,sc2);
loggenrator(logg);

}
function playgame(){
    if(iterator<moves.length && flag==0){
        thisistherealshit(moves);
        console.log(iterator,"this is an iterator");
         iterator++;

    }
    else{
          clearInterval(stop);
    }
}

function init(){

ctx.clearRect(0,0,c.length,c.width);


    //typeofmove.playerno.i1,j1,i2,j2,i3,j3,score1,score2




//var interval = setInterval(iteration(moves,interval,iterator),1000);
interval = setInterval(playgame,speed);
}
function start()
{
    init();
    sflag=1;
}
drawbox();



 </script>

  </div>

  

        <div style="width: 713px;" class="hiddendiv common"></div></body></html>





        